<div class="flex justify-center mt-12">

  <% if (pagination && pagination.totalPages > 1) { %>

    <div class="flex items-center space-x-2">

      <!-- PREV -->
      <% if (pagination.currentPage > 1) { %>
        <a
            href="/properties?page=<%= pagination.currentPage - 1 %>"
          class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-slate-700 transition"
        >
          <span class="material-symbols-outlined">chevron_left</span>
        </a>
      <% } %>

      <!-- PAGE NUMBERS -->
      <% for (let i = 1; i <= pagination.totalPages; i++) { %>
        <a
         href="/properties?page=<%= i %>"
          class="
            w-10 h-10 flex items-center justify-center rounded-lg
            <%= i === pagination.currentPage
                ? 'bg-blue-600 text-white font-semibold'
                : 'bg-gray-100 dark:bg-slate-700 text-gray-600 dark:text-gray-300 hover:bg-gray-200'
            %>"
        >
          <%= i %>
        </a>
      <% } %>

      <!-- NEXT -->
      <% if (pagination.currentPage < pagination.totalPages) { %>
        <a
         href="/properties?page=<%= pagination.currentPage + 1 %>"
          class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-slate-700 transition"
        >
          <span class="material-symbols-outlined">chevron_right</span>
        </a>
      <% } %>

    </div>

  <% } %>

</div>